:root {
  --color--primary: #3b8ea5;
  --color--secondary: #2d728f;
  --color--bg: #fff;
  --color--warning: #cc3600;
  --color--success: #26cf86;
  --color--gold: #eca72c; 
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background: var(--color--bg);
  color: var(--color--primary);
 
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Lora', serif;
}
