.status {
}

/* .keys {
  display: flex;
  flex-direction: column;
}

.letter-keys {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: gray;
}

.key {
  margin: 1em;
}

.spacebar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background: gray;

  margin: 1em;
} */

.keyboard {
  display: flex;
  flex-direction: column;

  font-size: 2em;
}

.keyboard-row {
  display: flex;
}

.keyboard-row *{
  background-color: grey;
  padding: 0.2em;
}

.letter-key {
}

.keypressed {
  background: blue;
}

.alertHolder {
  visibility: hidden;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 100%;
  z-index: 2;
  pointer-events: none;
}

.alert {
  pointer-events: all;
}

.controlCard {
  margin: 20px;
  margin-top: 0;
}

.botHead {
  display: flex;
  max-width: 60%;
}

.botStartStop {
  position: absolute;
  top: 12px;
  right: 12px;
}
.botCard {
  max-width: 100%;
  min-width: 30%;
  margin: 20px;
  margin-top: 0;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  flex-grow: 4;
  margin-top: 20px;
}

.botSelector {
}

.toggle-dark {
}

.header {
  display: flex;
  background-color: #d6d8da;
  color: inherit;
  align-items: flex-end;
  min-height: 88px;
  padding: 15px;
}

.header h1 {
  margin: 0;
  color: #272c30;
}
.dark-body {
  background-color: #272c30;
  color: lightgray;
}

.dark-panel {
  background-color: #35373b;
}

.dark-well {
  background-color: #505661;
}

[data-theme='dark-well'] {
  background-color: #272c30 !important;
  color: lightgray;
}
