.status {
  position: fixed;
  min-height: 5%;
  width: 140;
  top: 10px;

  text-align: right;
  letter-spacing: 0px;
  right: 10px;
}

.botStatus {
  position: relative;
  max-width: 40%;
  min-width: 20%;
  margin: 2.5%;
  margin-top: 0;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;

  margin: 0;
}

.botSelector {
  position: absolute;
  right: 20%;
  top: 60px;
}

.header {
  margin: 20px;
}
