:root {
  --dark-transition: 0.3s;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  min-height: 50px;
  min-width: 50px;

  border: 2px solid;
  margin: 2.5px;
  border-color: #007bff;
  color: #007bff;
  font-weight: 400;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.key-wide {
  min-width: 160px;
}

.sprintStatus {
  position: absolute;
}

.keys {
  margin: 0px;
}

.keygrid {
  display: flex;
  justify-content: center;
}
.keypressed {
  background: #007bff;
  color: white;
}

.alertHolder {
  visibility: hidden;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 100%;
  z-index: 2;
  pointer-events: none;
}

.alert {
  pointer-events: all;
}

.controlCard {
  margin: 20px;
  margin-top: 0;
}

.card-header-bot {
  display: flex;
  flex-wrap: nowrap;
  padding-right: 12px;
}

.botHead {
  display: flex;
  margin-right: auto;
}
.status {
  margin-left: 2%;
}
.toggle-dark {
  margin-left: auto;
}

.statusBadge {
  width: 100px;
  margin-bottom: 0px;
  margin-right: auto;
}
.botStartStop {
  top: 12px;
  right: 12px;
  margin-left: 25px;
}
.botCard {
  max-width: 22%;
  min-width: 20%;
  flex-grow: 1;
  margin: 20px;
  margin-top: 0;
}
.loginPage {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
}

.loginCard {
  margin: auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}
.header {
  display: flex;
  background-color: #d6d8da;
  color: inherit;
  align-items: flex-end;
  min-height: 88px;
  padding: 15px;
}

.header h1 {
  margin: 0;
  color: #272c30;
}
.dark-body {
  background-color: #272c30;
  color: lightgray;
}

.dark-panel {
  background-color: #35373b;
}

.dark-well {
  background-color: #505661;
}

[data-theme="dark-well"] {
  background-color: #272c30 !important;
  color: lightgray;
}

svg {
  stroke: black;
  stroke-width: 2px;
}
.darkSvg {
  stroke: lightgray;
}

.card {
  background-color: #f8f9fa;
}
@media only screen and (max-width: 700px) {
  /* For mobile phones: */
  .botCard {
    min-width: 70%;
    max-width: 100%;
    flex-grow: 1;
  }
}

@media only screen and (min-width: 700px) and (max-width: 900px) {
  .botCard {
    min-width: 30%;
    max-width: 45%;
    flex-grow: 1;
    margin: 2.5%;
    margin-top: 0px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
  .botCard {
    min-width: 20%;
    max-width: 29%;
    flex-grow: 1;
    margin: 2%;
    margin-top: 0px;
  }
  .flex-container {
    padding-left: 2%;
    padding-right: 2%;
  }
}
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: ease-in-out 300ms !important;
  transition-delay: 0 !important;
}

/* Transition to Dark Mode */

svg {
  -webkit-transition: all var(--dark-transition) linear;
  -moz-transition: all var(--dark-transition) linear;
  -o-transition: all var(--dark-transition) linear;
  transition: all var(--dark-transition) linear;
}

.card {
  -webkit-transition: all var(--dark-transition) linear;
  -moz-transition: all var(--dark-transition) linear;
  -o-transition: all var(--dark-transition) linear;
  transition: all var(--dark-transition) linear;
}

body {
  -webkit-transition: all var(--dark-transition) linear;
  -moz-transition: all var(--dark-transition) linear;
  -o-transition: all var(--dark-transition) linear;
  transition: all var(--dark-transition) linear;
}
