.status {
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  min-height: 50px;
  min-width: 50px;

  border: 2px solid;
  margin: 2.5px;
  border-color: #007bff;
  color: #007bff;
  font-weight: 400;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.key-wide {
  min-width: 160px;
}

.sprintStatus {
  position: absolute;
}

.keys {
  margin: 0px;
}

.keygrid {
  display: flex;
  justify-content: center;
}
.keypressed {
  background: #007bff;
  color: white;
}

.alertHolder {
  visibility: hidden;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 100%;
  z-index: 2;
  pointer-events: none;
}

.alert {
  pointer-events: all;
}

.controlCard {
  margin: 20px;
  margin-top: 0;
}

.botHead {
  display: flex;
  max-width: 60%;
}

.botStartStop {
  position: absolute;
  top: 12px;
  right: 12px;
}
.botCard {
  max-width: 100%;
  min-width: 30%;
  margin: 20px;
  margin-top: 0;
}
.loginPage {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
}

.loginCard {
  margin: auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  flex-grow: 4;
  margin-top: 20px;
}

.botSelector {
}

.toggle-dark {
}

.header {
  display: flex;
  background-color: #d6d8da;
  color: inherit;
  align-items: flex-end;
  min-height: 88px;
  padding: 15px;
}

.header h1 {
  margin: 0;
  color: #272c30;
}
.dark-body {
  background-color: #272c30;
  color: lightgray;
}

.dark-panel {
  background-color: #35373b;
}

.dark-well {
  background-color: #505661;
}

[data-theme="dark-well"] {
  background-color: #272c30 !important;
  color: lightgray;
}
